
.body  {
	font-family: "HarmonyOS_Regular", sans-serif;
}
.page {
	font-family: "HarmonyOS_Regular", sans-serif;
}
.span {
	font-family: "HarmonyOS_Regular", sans-serif;
}
.pdfViewer {
	font-family: "HarmonyOS_Regular", sans-serif;
}
.row {
	font-family: "HarmonyOS_Regular", sans-serif;
}
.oe_structure {
	font-family: "HarmonyOS_Regular", sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "HarmonyOS_Regular", sans-serif;
}
p {
	font-family: "HarmonyOS_Regular", sans-serif;
}
.textLayer {
	font-family: "HarmonyOS_Regular", sans-serif;
}
.container {
	font-family: "HarmonyOS_Regular", sans-serif;
}
.footer {
	font-family: "HarmonyOS_Regular", sans-serif;
}