
 /*  Font  Start */
   body {
       font-family: "HarmonyOS_Regular", sans-serif;
   }
   html {
       font-family: "HarmonyOS_Regular", sans-serif;}
 .pos{
     font-family: "HarmonyOS_Regular", sans-serif;}
 .pos .modal-dialog .popup {
     font-family: "HarmonyOS_Regular", sans-serif;}
 .ui-dialog, .modal-dialog{
     font-family: "HarmonyOS_Regular", sans-serif;}
 .pos textarea {
     font-family: "HarmonyOS_Regular", sans-serif;}
 /*  Font  End */
 
.pos .loader {
    font-family: "HarmonyOS_Regular", sans-serif;
}
 .pos button, .pos a.button {
        font-family: "HarmonyOS_Regular", sans-serif;
}

