.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background: none;
    height: 0.8rem;
    width: 0.5rem;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    transform: rotate(40deg);
    left: -1.6rem;
    top: 0.35rem;
}
