/* 引入字体和图标库 */
@import url("https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css");

// 字体文件
@font-face {
  font-family: "Pacifico-Regular";
  src: url("../font/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "UnidreamLED";
  src: url("../font/UnidreamLED.ttf") format("truetype");
}

